body,
html {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
.f-email {
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
}
.subs-btn {
  background-color: #fff;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}

.f-email:focus {
  border: 1px solid gray;
}
.t-center .faq-search {
  border: 1px solid gray;
}
.t-center .faq-search:focus {
  border: 1px solid gray;
}

/* bootstrap form customization */
.form-check-input {
  outline: none;
  box-shadow: none;
}
.form-check-input:checked {
  background-color: #cc181e;
  border-color: #cc181e;
  outline: none;
  box-shadow: none;
}
.form-check-input::after {
  box-shadow: none;
}
.form-check-input::before {
  box-shadow: none;
}

.form-select {
  border: 1px solid #cc181e;
  border-radius: 3px;
  box-shadow: none;
  outline: 0 none;
  padding: 6px 6px;
}
.form-select:focus {
  border: 1px solid #cc181e;
  border-radius: 3px;
  box-shadow: none;
  outline: 0 none;
  padding: 6px 6px;
}
.form-control {
  border: 1px solid #cc181e;
  border-radius: 3px;
  box-shadow: none;
  outline: 0 none;
  padding: 6px 6px;
}
.form-control:focus {
  border: 1px solid #cc181e;
  border-radius: 3px;
  box-shadow: none;
  outline: 0 none;
  padding: 6px 6px;
}
textarea:focus,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  padding: 6px 6px;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #cc181e;
}

.nav-link {
  color: #fff;
}
.nav-link:hover {
  color: #cc181e;
}
.navbar-nav .nav-link.active {
  color: #cc181e;
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #cc181e;
  --bs-btn-border-color: #cc181e;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #cc181e;
  --bs-btn-hover-border-color: #cc181e;
  --bs-btn-focus-shadow-rgb: 225, 83, 97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #cc181e;
  --bs-btn-active-border-color: #cc181e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #cc181e;
  --bs-btn-disabled-border-color: #cc181e;
}

.btn-outline-danger {
  --bs-btn-color: #cc181e;
  --bs-btn-border-color: #cc181e;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #cc181e;
  --bs-btn-hover-border-color: #cc181e;
  --bs-btn-focus-shadow-rgb: 220, 53, 69;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #cc181e;
  --bs-btn-active-border-color: #cc181e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #cc181e;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #cc181e;
  --bs-gradient: none;
}

/* slick slider */
.slick-dots {
  justify-content: flex-start;
}
