// font family
$inter: "Inter", sans-serif;
$montserrat: "Montserrat", sans-serif;

/* colors */
$dark: #000;
$dark1: #0e0e0e;
$dark2: #111111;
$gray: #707070;
$lightGray: #6e6e6e;
$dark3: #3e3e3e;
$dark4: #9f9f9f;
$white: #fff;
$red: #cc181e;
$light-red: #f15a46;

// font wight
$fontWSM: 400;
$fontWMD: 600;
$fontWLG: 700;
$fontWXL: 900;

// breakPoints
$breakpoint-sm: 576px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

/* gaps */
$hundred: 100px;
$sixty: 60px;
$fifty: 50px;
$seventy: 70px;

/* sizes */
$twelve: 12px;
$twentyTwo: 22px;
$twentyFour: 24px;
$twenty: 20px;
$thirty: 30px;
$thirtyFour: 34px;
$fourty: 40px;
$fourtyFive: 45px;

/* percentages */
$twentyP: 20%;

.inter {
  font-family: $inter;
}

.mt-60 {
  margin-top: $sixty;
}

.mb-50 {
  margin-bottom: $fifty;
}
.py-100 {
  padding-top: $hundred;
  padding-bottom: $hundred;
}

.fs-22 {
  font-size: $twentyTwo;
}

.fs-16 {
  font-size: 16px;
}
.fs-15 {
  font-size: 15px;
}

.fs-20 {
  font-size: $twenty;
}

.fs-24 {
  font-size: $twentyFour;
}

.fs-30 {
  font-size: $thirty;
}

.fs-34 {
  font-size: $thirtyFour;
}

.fs-40 {
  font-size: $fourty;
}
.fs-14 {
  font-size: 14px;
}

.muted {
  color: #6e6e6e;
}
.muted-2 {
  color: #707070;
}
.bold {
  font-size: $fontWLG;
}
.mons {
  font-family: $montserrat;
}

.c-red {
  color: $red;
}

// Styling the default Slick dots
.faq-tab {
  margin: 3px 1px;
}

.do-dots {
  display: flex;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
  position: absolute;
  bottom: 0px;
  li {
    margin: 0 0.45rem;
    button {
      display: block;
      width: 1.5rem;
      height: 0.3rem;
      padding: 0;
      border: none;
      border-radius: 10px;
      background-color: $gray;
      text-indent: -9999px;
    }
  }

  li.slick-active button {
    background-color: $white;
  }
}
.work-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
  li {
    margin: 0 0.45rem;
    button {
      display: block;
      width: 1.5rem;
      height: 0.3rem;
      padding: 0;
      border: none;
      border-radius: 10px;
      border: 1px solid $red;
      background-color: transparent;
      text-indent: -9999px;
    }
  }

  li.slick-active button {
    background-color: $red;
  }
}

// .slick-slider-dotss{
//     position: absolute;
//     bottom: 0px;
//     left: 50%;
//     transform: translateX(-50%);
//     display: flex;

//     ul {
//         display: flex;
//         list-style: none;
//         margin: 0;
//         padding: 0;

//         li {
//             margin: 0 4px;
//             button {
//                 background: $gray;
//                 height: 8px;
//                 width: 35px;
//                 overflow: hidden;
//                 color: $gray;
//                 border: none;
//                 border-radius: 4px;
//             }
//             &.slick-active {
//                 button {
//                     background: $white;
//                     color: $white;
//                 }
//             }
//         }
//     }

// }
